In [2]:
import pandas as pd

In [5]:
file_path = '../data/Layoffs_Dataset.csv'

In [ ]:
df = pd.read_csv(file_path)

In [7]:
df.head()

,Company Name,Industry,Layoff Count,Date of Layoff,Reason,City,Funding Status,Source URL
0,Paytm,Fintech,3500,2024,RBI ban on Paytm Payments Bank services,Noida,Public,Storyboard18
1,Flipkart,E-commerce,1100–1500,Jan 2024,Restructuring and cost management,Bengaluru,Acquired by Walmart,Storyboard18
2,Byju's,Edtech,500,Apr 2024,Financial crunch and legal disputes,Bengaluru,Private,Economic Times
3,Swiggy,Food Delivery,400,2024,Cost-cutting measures,Bengaluru,Private,Storyboard18
4,Ola Electric,Automotive,300–400,Nov 2024,Cost-cutting drive,Bengaluru,Private,Economic Times